    {% load static %}
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="utf-8">
        <title>SSG</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">       
        <!-- Custom CSS -->
        <link rel="stylesheet" href="{% static 'css/main.css' %}">
    </head>
    <body>
                        <!-- Botones "Siguiente" y "Anterior" -->
        <div class="row">
            <div class="col-md-12 text-center">
                {% if page_obj.has_previous %}
                    <a href="?page={{ page_obj.previous_page_number }}" class="btn btn-primary">Anterior</a>
                {% endif %}
        
                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}" class="btn btn-primary">Siguiente</a>
                {% endif %}
            </div>
        </div>
        {% block content %}
            <!-- Este bloque se llenará con el contenido específico de cada página -->
        {% endblock %}
    
        <!-- jQuery, Popper.js y Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    </body>
    </html>
<body>
    <!-- Aquí podrías incluir el pie de página u otros elementos comunes -->
    <footer class="main-footer text-center text-primary">
        <a href="" target="_blank" rel="noopener noreferrer">
            <strong>Paraguay - Asunción &copy; SSG</strong>
        </a>
    </footer>
</body>
</html>
