{% extends "base.html" %}
{% load static %}


<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Cliente</title>
</head>

<body class="text-dark">
    {% block content %}
    <div class="container-fluid">
        <h1 class="mt-4">Datos Personales</h1>
        <br>
        <div class="row">
            <div class="col-md-12">
                {% for cliente in page_obj %}
                    <div class="row">
                        <div class="col-md-4">
                            <div class="col-md-6">
                                <fieldset>
                                    <legend></legend>
                                    <!-- Cedula -->
                                    <div class="form-group">
                                        <label for="{{ form.cedula.id_for_label }}">Cedula:</label>
                                        {{ form.cedula.errors }}
                                        <div class="input-group">
                                            <input type="text" class="form-control" id="cedula" value="{{ cliente.cedula }}">
                                            {{ form.cedula }}
                                        </div>
                                    </div>
                                    <!-- Primer nombre -->
                                    <div class="form-group">
                                        <label for="{{ form.primer_nombre.id_for_label }}">Primer Nombre:</label>
                                        {{ form.primer_nombre.errors }}
                                        <div class="input-group">
                                            <input type="text" class="form-control" id="primer_nombre" value="{{ cliente.primer_nombre }}">
                                            {{ form.primer_nombre }}
                                        </div>
                                    </div>
                                    <!-- Segundo Nombre -->
                                    <div class="form-group">
                                        <label for="{{ form.segundo_nombre.id_for_label }}">Segundo Nombre:</label>
                                        {{ form.segundo_nombre.errors }}
                                        <div class="input-group">
                                            <input type="text" class="form-control" id="segundo_nombre" value="{{ cliente.segundo_nombre }}">
                                            {{ form.segundo_nombre }}
                                        </div>
                                    </div>
                                    <!-- Primer Apellido -->
                                    <div class="form-group">
                                        <label for="{{ form.primer_apellido.id_for_label }}">Primer Apellido:</label>
                                        {{ form.primer_apellido.errors }}
                                        <div class="input-group">
                                            <input type="text" class="form-control" id="primer_apellido" value="{{ cliente.primer_apellido }}">
                                            {{ form.primer_apellido }}
                                        </div>
                                    </div>
                                    <!-- Segundo Apellido -->
                                    <div class="form-group">
                                        <label for="{{ form.segundo_apellido.id_for_label }}">Segundo Apellido:</label>
                                        {{ form.segundo_apellido.errors }}
                                        <div class="input-group">
                                            <input type="text" class="form-control" id="segundo_apellido" value="{{ cliente.segundo_apellido }}">
                                            {{ form.segundo_apellido }}
                                        </div>
                                    </div>
                                    <!-- Estado Civil -->
                                    <div class="form-group">
                                        <label for="sel_estado_civil">Estado Civil:</label>
                                        <select class="form-control" id="sel_estado_civil" name="sel_estado_civil" style="width: 140px;">
                                            <option value="0" {% if cliente.estado_civil == 'Soltero' %} selected {% endif %}>Soltero</option>
                                            <option value="1" {% if cliente.estado_civil == 'Casado' %} selected {% endif %}>Casado</option>
                                            <option value="2" {% if cliente.estado_civil == 'Viudo' %} selected {% endif %}>Viudo</option>
                                            <option value="3" {% if cliente.estado_civil == 'Divorciado' %} selected {% endif %}>Divorciado</option>
                                            <option value="4" {% if cliente.estado_civil == 'Vacío' %} selected {% endif %}>Vacío</option>
                                        </select>
                                    </div>
                                    <!-- F. Nacimiento -->
                                    <div class="form-group">
                                        <label for="txt_prospecto_fcNac">Fc. Nacimiento:</label>
                                        <input type="text" id="txt_prospecto_fcNac" name="txt_prospecto_fcNac" value="{{ cliente.fecha_nacimiento|date:'d/m/Y' }}" style="width: 140px;">
                                    </div>                                    
                                </fieldset>
                            </div>
                        </div>
                        <!-- Segunda columna -->
                        <div class="col-md-3">
                            <fieldset>
                                <!-- email -->
                                <div class="form-group">
                                    <label for="{{ form.email.id_for_label }}">Email:</label>
                                    {{ form.email.errors }}
                                    <div class="input-group">
                                        <input type="text" class="form-control" id="primer_apellido" value="{{ cliente.email }}">
                                        {{ form.email }}
                                    </div>
                                </div>
                                <br>
                                <!-- Genero -->
                                {{ form.genero.errors }}
                                <td align="center">Genero:</td>
                                <br>
                                <td>
                                    <input type="radio" id="rad_genero_masculino" name="rad_genero" value="1" {% if cliente.genero == 'M' %} checked {% endif %}>
                                    M
                                    <br>
                                    <input type="radio" id="rad_genero_femenino" name="rad_genero" value="2" {% if cliente.genero == 'F' %} checked {% endif %}>
                                    F
                                </td>
                                <br>
                                <br>
                                <!-- Zurdo -->
                                {{ form.zurdo.errors }}
                                <td align="center">Zurdo:</td>
                                <br>
                                <br>
                                <td>
                                    <input type="radio" id="rad_zurdo" name="rad_zurdo" value="1" {% if cliente.zurdo %} checked {% endif %}>
                                    Si
                                    <br>
                                    <input type="radio" id="rad_zurdo" name="rad_zurdo" value="2" {% if not cliente.zurdo %} checked {% endif %}>
                                    No
                                </td>
                                <br>
                                <br>
                                <!-- mascota -->
                                {{ form.mascota.errors }}
                                <td align="center">Mascota:</td>
                                <br>
                                <br>
                                <td>
                                    <input type="radio" id="rad_mascota" name="rad_mascota" value="1" {% if cliente.mascota %} checked {% endif %}>
                                    Si
                                    <br>
                                    <input type="radio" id="rad_mascota" name="rad_mascota" value="2" {% if not cliente.mascota %} checked {% endif %}>
                                    No
                                </td>
                                <br>
                                <br>

                                <!-- Ocupación -->
                                <td align="center">Ocupación:</td>
                                <div class="container_bloque_seleccion">
                                    <div class="form-group">
                                        <select class="form-control" id="sel_ocupacion" name="sel_ocupacion">
                                        <option value="1" {% if cliente.ocupacion == 'Policía' %} selected {% endif %}>Policía</option>
                                        <option value="2" {% if cliente.ocupacion == 'Soldador' %} selected {% endif %}>Soldador</option>
                                        <option value="3" {% if cliente.ocupacion == 'Médico/a' %} selected {% endif %}>Médico/a</option>
                                        <option value="4" {% if cliente.ocupacion == 'Enfermero/a' %} selected {% endif %}>Enfermero/a</option>
                                        <option value="5" {% if cliente.ocupacion == 'Abogado/a' %} selected {% endif %}>Abogado/a</option>
                                        <option value="6" {% if cliente.ocupacion == 'Arquitecto/a' %} selected {% endif %}>Arquitecto/a</option>
                                        <option value="7" {% if cliente.ocupacion == 'Electricista' %} selected {% endif %}>Electricista</option>
                                        <option value="8" {% if cliente.ocupacion == 'Vacío' %} selected {% endif %}>Vacío</option>
                                        </select>
                                    </div>
                                </div>
                            </fieldset>
                        </div>      
                            <!-- Notas -->
                                <div class="col-md-4" style="padding-left: 110px;">
                                    <div class="container_notas">
                                        <form method="post" action="{% url 'clientes_view' %}">
                                            {% csrf_token %}
                                            <div class="form-group">
                                                <label for="notas_texto" class="form-label">Notas</label>
                                                <textarea name="texto" class="form-control" id="notas_texto" rows="5" style="width: 100%;">{% if ultima_nota %}{{ ultima_nota.texto }}{% endif %}</textarea>
                                                <button type="submit" class="btn btn-primary">Guardar</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>                                    
                    </div>
                    <br>
                    <h1>Datos Adicionales</h1>
                    <!-- CONTACTO -->
                    <div class="row">
                        <div class="col-md-4">
                            <fieldset>
                                <legend>Contactos</legend>
                                <!-- Teléfono 1 -->
                                {{ form.telefono1.errors }}
                                <div class="form-group">
                                    <label for="{{ form.telefono1.id_for_label }}">Teléfono 1:</label>
                                    <input type="text" class="form-control" id="telefono1" value="{{ cliente.telefono1 }}" style="width: 140px;">
                                    {{ form.telefono1 }}
                                </div>
                                <!-- Teléfono 2 -->
                                {{ form.telefono2.errors }}
                                <div class="form-group">
                                    <label for="{{ form.telefono2.id_for_label }}">Teléfono 2:</label>
                                    <input type="text" class="form-control" id="telefono2" value="{{ cliente.telefono2 }}" style="width: 140px;">
                                    {{ form.telefono2 }}
                                </div>
                                <!-- Teléfono 3 -->
                                {{ form.telefono3.errors }}
                                <div class="form-group">
                                    <label for="{{ form.telefono3.id_for_label }}">Teléfono 3:</label>
                                    <input type="text" class="form-control" id="telefono3" value="{{ cliente.telefono3 }}" style="width: 140px;">
                                    {{ form.telefono3 }}
                                </div>
                                <!-- Teléfono 4 -->
                                {{ form.telefono4.errors }}
                                <div class="form-group">
                                    <label for="{{ form.telefono4.id_for_label }}">Teléfono 4:</label>
                                    <input type="text" class="form-control" id="telefono4" value="{{ cliente.telefono4 }}" style="width: 140px;">
                                    {{ form.telefono4 }}
                                </div>
                            </fieldset>
                        </div>
                        <!-- DIRECCIONES -->
                        <div class="col-md-6">
                            <fieldset>
                                <legend>Direcciones</legend>
                                <!-- Dirección-->
                                {{ form.direccion.errors }}
                                <div class="form-group">
                                    <label for="{{ form.direccion.id_for_label }}">Dirección:</label>
                                    <input type="text" class="form-control" id="direccion" value="{{ cliente.direccion }}" style="width: 370px;">
                                    {{ form.direccion }}
                                </div>
                                <!-- Calle 1 -->
                                {{ form.calle1.errors }}
                                <div class="form-group">
                                    <label for="{{ form.calle1.id_for_label }}">Calle 1:</label>
                                    <input type="text" class="form-control" id="calle1" value="{{ cliente.calle1 }}" style="width: 250px;">
                                    {{ form.calle1 }}
                                </div>
                                <!-- Calle 2 -->
                                {{ form.calle2.errors }}
                                <div class="form-group">
                                    <label for="{{ form.calle2.id_for_label }}">Calle 2:</label>
                                    <input type="text" class="form-control" id="calle2" value="{{ cliente.calle2 }}" style="width: 250px;">
                                    {{ form.calle2 }}
                                </div>

                                <!--Departamento-->
                                <td align="center">Departamento:</td>
                                <div class="container_bloque_departamento">
                                    <div class="form-group">
                                        <select class="form-control" id="sel_departamento" name="sel_departamento" style="width: 150px;">
                                        <option value="1" {% if cliente.ocupacion == 'Asunción' %} selected {% endif %}>Asunción</option>
                                        <option value="2" {% if cliente.ocupacion == 'San Pedro' %} selected {% endif %}>San Pedro</option>
                                        <option value="3" {% if cliente.ocupacion == 'Cordillera' %} selected {% endif %}>Cordillera</option>
                                        <option value="4" {% if cliente.ocupacion == 'Guairá' %} selected {% endif %}>Guairá</option>
                                        <option value="5" {% if cliente.ocupacion == 'Caaguazú' %} selected {% endif %}>Caaguazú</option>
                                        <option value="6" {% if cliente.ocupacion == 'Caazapá' %} selected {% endif %}>Caazapá</option>
                                        <option value="7" {% if cliente.ocupacion == 'Itapúa' %} selected {% endif %}>Itapúa</option>
                                        <option value="8" {% if cliente.ocupacion == 'Misiones' %} selected {% endif %}>Misiones</option>
                                        <option value="9" {% if cliente.ocupacion == 'Paraguarí' %} selected {% endif %}>Paraguarí</option>
                                        <option value="10" {% if cliente.ocupacion == 'Alto Paraná' %} selected {% endif %}>Alto Paraná</option>
                                        <option value="11" {% if cliente.ocupacion == 'Central' %} selected {% endif %}>Central</option>
                                        <option value="12" {% if cliente.ocupacion == 'Ñeembucú' %} selected {% endif %}>Ñeembucú</option>
                                        <option value="13" {% if cliente.ocupacion == 'Amambay' %} selected {% endif %}>Amambay</option>
                                        <option value="14" {% if cliente.ocupacion == 'Canindeyú' %} selected {% endif %}>Canindeyú</option>
                                        <option value="15" {% if cliente.ocupacion == 'Presidente Hayes' %} selected {% endif %}>Presidente Hayes</option>
                                        <option value="16" {% if cliente.ocupacion == 'Alto Paraguay' %} selected {% endif %}>Alto Paraguay</option>
                                        <option value="17" {% if cliente.ocupacion == 'Boquerón' %} selected {% endif %}>Boquerón</option>
                                        <option value="18" {% if cliente.ocupacion == 'Concepción' %} selected {% endif %}>Concepción</option>
                                        <option value="19" {% if cliente.ocupacion == 'Vacío' %} selected {% endif %}>Vacío</option>
                                        </select>
                                    </div>
                                </div>
                                <br>
                                <td align="center">Barrio:</td>
                                <div class="container_bloque_barrio">
                                    <div class="form-group">
                                        <select class="form-control" id="sel_barrio" name="sel_barrio" style="width: 150px;">
                                        <option value="0" {% if cliente.ocupacion == 'Loma Pytá' %} selected {% endif %}>Loma Pytá</option>
                                        <option value="1" {% if cliente.ocupacion == 'Sajonia' %} selected {% endif %}>Sajonia</option>
                                        <option value="2" {% if cliente.ocupacion == 'Mariscal López' %} selected {% endif %}>Mariscal López</option>
                                        <option value="3" {% if cliente.ocupacion == 'San Vicente' %} selected {% endif %}>San Vicente</option>
                                        <option value="4" {% if cliente.ocupacion == 'Santa Ana' %} selected {% endif %}>Santa Ana</option>
                                        <option value="5" {% if cliente.ocupacion == 'Trinidad' %} selected {% endif %}>Trinidad</option>
                                        <option value="6" {% if cliente.ocupacion == 'Madame Lynch' %} selected {% endif %}>Madame Lynch</option>
                                        <option value="7" {% if cliente.ocupacion == 'Manorá' %} selected {% endif %}>Manorá</option>
                                        <option value="8" {% if cliente.ocupacion == 'Las Mercedes' %} selected {% endif %}>Las Mercedes</option>
                                        <option value="9" {% if cliente.ocupacion == 'Jara' %} selected {% endif %}>Jara</option>
                                        <option value="10" {% if cliente.ocupacion == 'Nazareth' %} selected {% endif %}>Nazareth</option>
                                        <option value="11" {% if cliente.ocupacion == 'Ricardo Brugada (Tacumbú)' %} selected {% endif %}>Ricardo Brugada (Tacumbú)</option>
                                        <option value="12" {% if cliente.ocupacion == 'Hipódromo' %} selected {% endif %}>Hipódromo</option>
                                        <option value="13" {% if cliente.ocupacion == 'General Díaz' %} selected {% endif %}>General Díaz</option>
                                        <option value="14" {% if cliente.ocupacion == 'Villa Aurelia' %} selected {% endif %}>Villa Aurelia</option>
                                        <option value="15" {% if cliente.ocupacion == 'Mburucuyá' %} selected {% endif %}>Mburucuyá</option>
                                        <option value="16" {% if cliente.ocupacion == 'San Blas' %} selected {% endif %}>San Blas</option>
                                        <option value="17" {% if cliente.ocupacion == 'Florida' %} selected {% endif %}>Florida</option>
                                        <option value="18" {% if cliente.ocupacion == 'Vacío' %} selected {% endif %}>Vacío</option>
                                        </select>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                    <hr>
                {% endfor %}
            </div>
        </div>
        <!-- BOTON GUARDAR -->
        <button type="submit" class="btn btn-primary">Finalizar</button>
    </div>
    {% endblock %}
</body>
</html>
